.main-container {
    max-width: 80vw;
    height: 100vh;
    margin: 0 56px 0 320px;
 }
 
 .header_navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    margin: 12px 0;
    border-radius: 12px;
    background-color: #121212;
 }
 
 .header_navigation .navigation {
    display: flex;
    align-items: center;
    gap: 1.25rem;
 }
 
 .arrow-left, .arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: var(--bg-arrow-color);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
 }
 
 .arrow-left:hover, .arrow-right:hover {
    transform: scale(1.05);
    background-color: #333;
 }
 
 .header_login {
    display: flex;
    align-items: center;
    gap: 32px;
 }
 
 .search-form {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.head_search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    max-width: none;
    background: transparent;
}

.head_search img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.search-input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
    background: none;
    color: #fff;
}

.search-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.search-input:focus {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    outline: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
 
 .header_login .subscribe {
    color: #a7a7a7;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    padding: 8px 16px;
    border-radius: 20px;
    transition: color 0.2s ease;
 }
 
 .header_login .subscribe:hover {
    color: #ffffff;
 }
 
 .header_login .login {
    width: 100px;
    height: 40px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
 }
 
 .header_login .login:hover {
    transform: scale(1.05);
 }

 .playlist-container {
    height: 68vh;
    padding-top: 16px;
    margin: 10px;
    border-radius: 10px;
    background-color: #121212;
 }

 .playlist {
    margin: 24px;
 }

 .playlist #greeting {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 48px;
 }

 .playlist .greeting-subtitle {
    color:#fff;
    font-size: 24px;
    font-weight: 700;
 }